{% extends "base.html" %}
{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li role="presentation"><a href="{{ url_for('play') }}"><span class="glyphicon glyphicon-play"></span></a></li>
        <li role="presentation"><a href="{{ url_for('library') }}"><span class="glyphicon glyphicon-music"></span></a></li>
    </ul>

    <div class="container">
        <div class="starter-template">
            <h3 style="text-align: center">Technologie multimedialne i biometryczne @ Politechnika Poznańska</h3>
            <br>
            <p>Mapa strony:</p  >
            <ul>
                <li><span class="glyphicon glyphicon-home"></span> - strona domowa projektu,</li>
                <li><span class="glyphicon glyphicon-play"></span> - odtwarzacz muzyczny oraz wizualizacja,</li>
                <li><span class="glyphicon glyphicon-music"></span> - biblioteka plików muzycznych.</li>
            </ul>
        </div>
    </div>
{% endblock %}