{% extends "base.html" %}
{% block content %}
    <script src="../static/js/line.js"></script>
    <script src="../static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/js/app.js"></script>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url_for('home')  }}"><span class="glyphicon glyphicon-home"></span></a></li>
        {% if music %}
            <li role="presentation" class="active"><a href="{{ url_for('play') }}/{{ music }}"><span class="glyphicon glyphicon-play"></span></a></li>
        {% else %}
            <li role="presentation" class="active"><a href="{{ url_for('play') }}"><span class="glyphicon glyphicon-play"></span></a></li>
        {% endif %}
        <li role="presentation"><a href="{{ url_for('library') }}"><span class="glyphicon glyphicon-music"></span></a></li>
    </ul>

    <div class="container">
        <div class="starter-template">
            <h3 style="text-align: center">Odtwarzacz muzyczny oraz wizualizacja</h3>
            <br>
            {% if music %}
                <p>Aktualnie odtwarzane: <font style="font-style: italic">{{ music }}</font></p>
                <div id = "equali" style = "width: 100%; height: 25px">
                </div>
                <audio controls id="audio" style="width: 100%" ontimeupdate="drawRedline()">
                    <source src="../static/music/{{ music }}" type="audio/wav">
                    Twoja przeglądarka nie wspiera odtwarzacza muzyki.
                </audio>

            {% else %}
                <p> Przejdź do <a href="{{ url_for('library') }}">biblioteki plików muzycznych</a> w celu wybrania utworu.</p>
            {% endif %}
        </div>
        <div class ="visuals" style="position: relative;">
                    <div class ="spectro" style="position: relative;display: block; float: left; width: 1500px; height: 750px; overflow: hidden">
                        <canvas id = "spectroBck" width="1500px" height="750px" style="position: absolute;top: 0px;left: 0px;z-index: 2">
                            <script>
                                function loadSpecto() {
                                    var canvas2 = document.getElementById('spectroBck');
                                    var context2 = canvas2.getContext('2d');
                                    var imageObj2 = new Image();

                                    imageObj2.onload = function () {
                                        context2.drawImage(imageObj2, 0, 0);
                                    };
                                    imageObj2.src = '../static/img/specto{{ music }}.png';
                                }
                                loadSpecto();
                            </script>
                        </canvas>
                        <canvas class="redLine" width="1500" height="750px" style="position: absolute;top: 0px;left: 0px; z-index: 3">

                        </canvas>
                    </div>
                    <div class ="waveform" style="position: relative;display: block; float: left; width: 100%;height: 200px;margin-top: 30px; overflow: hidden">
                        <canvas id = "waveformBck" height="800px" width="800px" style="position: absolute;top: 0px;left: 0px;z-index: 2">
                            <script>
                                function loadAmp() {
                                    var canvas = document.getElementById('waveformBck');
                                    var context = canvas.getContext('2d');
                                    var imageObj = new Image();

                                    imageObj.onload = function () {
                                        context.drawImage(imageObj, 0, 0);
                                    };
                                    imageObj.src = '../static/img/Capture.JPG';
                                }
                                loadAmp();
                            </script>
                        </canvas>
                        <canvas class="redLine" height="800px" width="800px" style="position: absolute;top: 0px;left: 0px; z-index: 3">

                        </canvas>
                    </div>
        </div>
    </div>
{% endblock %}